.footer__container {
  display: flex;
}
.footer__about {
  width: 525px;
}
.footer__company {
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 69px;
}

.footer__socials {
  display: flex;
  gap: 45px;
}

.footer__box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer__adress-box {
  max-width: 293px;
  margin-left: 146px;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  font-style: normal;
}
