.footer__company {
  max-width: 420px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  &--about {
    margin-top: 30px;
  }

  &--copy {
    margin-top: 69px;
  }
}

.footer__socials {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}

.footer__box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer__adress-box {
  // margin-left: 146px;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  font-style: normal;
}

.footer__startups {
  // margin-left: auto;
}
.right-box {
  display: flex;
  gap: 142px;
}

.tel__boxxx {
  display: flex;
  gap: 8px;
}

.footer__second--box {
  display: flex;
  margin-left: auto;
  gap: 141px;
}

.footer__socialss {
  display: grid;
  gap: 35px; /* отступ между элементами */
}
// .footer__socialss li {
//   flex-basis: calc((100% - 1 * 44px) / 2);
// }
// .footer__socialss li:last-child {
//   flex-basis: calc(100% - 44px); /* ширина на всю ширину контейнера с учетом отступа */
.footer__socialss li:last-child {
  grid-column: span 2; /* занимает две колонки (на всю ширину контейнера) */
}

.containerr {
  padding-left: 75px;
  padding-right: 75px;
}
.footer__container {
  width: 1770px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: bisque;
  margin: 0 auto;
}

.footer {
  &__block {
    display: block;
    width: 100%;
    background-color: var(--main-color);
  }
  &__container {
    display: flex;
    background-color: var(--main-color);
  }
  &__content--box {
    display: flex;
    width: 100%;
    // justify-content: space-around;
    flex-wrap: nowrap;
  }
  &__logo {
    display: block;
  }
}
