.footer__company {
  max-width: 420px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  &--about {
    margin-top: 30px;
  }

  &--copy {
    margin-top: 69px;
  }
}

.footer__social {
  &--head {
    margin-bottom: 30px;

    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &--box {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
  }

  &--tel {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  &--tel2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &--mail {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &--list {
    margin-top: 20px;
    display: flex;
    gap: 45px;
  }
}

.footer__box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer__adress-box {
  // margin-left: 146px;
}
.footer__adress {
  &--head {
    margin-bottom: 30px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  &--link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;

    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }

  &--gps {
    color: white;
    font-size: 20px;

    font-weight: 400;
    line-height: 30px;
  }
}

.footer__startup--list {
  display: grid;
  gap: 35px;
}
.footer__startup--list li:last-child {
  grid-column: span 2;
}

.containerr {
  padding-left: 75px;
  padding-right: 75px;
}
.footer__container {
  width: 1770px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: bisque;
  margin: 0 auto;
}

.footer {
  &__block {
    display: block;
    width: 100%;
    background-color: var(--main-color);
  }
  &__container {
    display: flex;
    background-color: gray;
  }
  &__content--box {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
  &__logo {
    display: block;
  }
  &__second--box {
    display: flex;
    margin-left: auto;
    gap: 141px;
  }
}

.footer__startup {
  &--head {
    margin-bottom: 8.8px;
    color: white;
    font-size: 24px;

    font-weight: 700;
    line-height: 30px;
  }

  &--list {
    display: grid;
    gap: 35px;
  }
}
