//header
.header {
  &__box {
    width: 1770px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin: 0 auto;
    background-color: bisque;
  }
  &__container {
    display: flex;
    background-color: red;
    align-items: center;
  }
  &__logo {
    display: block;
    margin-right: 129px;
  }
}

//header-contacts
.header__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;

  &--list {
    display: flex;
    gap: 12px;
  }

  &--btn {
    display: block;
  }
}

//navigation
.nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__list > li {
    padding-right: 50px;
    padding-left: 50px;
  }
  &__list > li:not(:last-child) {
    outline-right: 1px solid rgba(51, 51, 51, 0.1);
    box-shadow: 1px 0 0 0 rgba(51, 51, 51, 0.1);
  }

  &__list--link {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }
}

//header-telephone
.header__tel {
  &--box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &--schedule {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &--number {
    color: #333333;
    font-size: 26px;
    font-weight: 700;
    line-height: 32.5px;
  }
}
