:root {
  --main-color: #fffefc;
  --grad: linear-gradient(327deg, #e09b3d 0%, #c74c4d 30%, #c21975 60%, #7024c4 100%);
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  //   color: var(--mainhead-color);
  //   background-color: var(--background-white-color);
}
